{% extends 'base.html' %}

{% block Title %} Publishing house list {% endblock Title %}

{% block Header %} Publishing house list 
<a class="btn btn-primary" href="{% url 'pub-add' %}" role="button">Add</a>
{% endblock Header %}


{% block body %}
    Date: {% now "jS F Y H:i" %}
    <table class="table table-striped table-bordered border-primary">
        <thead>
            <tr>
                <th scope="col">name</th>
                <th scope="col">actions</th>        
            </tr>
        </thead>
        <tbody>
            {% for publ in object_list %}
                <tr>
                    <td>{{ publ.name }}</td>
                    <td><a href="{% url 'pub-det' publ.pk %}"><i class="bi bi-eye-fill"></i></a><a href="{% url 'pub-ed' publ.pk %}"><i class="bi bi-pencil-square"></i></i></a></td>
                </tr>
            {% endfor %}
    </table>
{% endblock body %}
 